body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.navbar {
    width: 100%;
    background-color: #7d7d7d;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.navbar h1 {
    margin-left: 10px;
    color: white;
    font-size: 24px;
}

.container {
    width: 100%;
    max-width: 1000px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 170px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.colegioguevara {
    text-align: center;
    width: 50%;
}

.colegioguevara img {
    max-width: 70%;
    height: auto;
}

.login {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.login h1 {
    margin-bottom: 40px;
    color: #665e51;
}

.login label {
    font-size: 16px;
    color: #7d7d7d;
}

.login input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    font-size: 16px;
    background-color: #e0e0e0;
}

.login button {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    background-color: #333;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login button:hover {
    background-color: #555;
}